

@media (max-width:699px){

	body{
		margin:0px;
		transition: background-color 1s cubic-bezier(1, 1, 1, 1);
		transition-delay: 0s;
		background-color: #ef7d42;
		overflow-x: hidden;
		width:100vw;

	}

	h1{
		font-family:"Source Serif Pro";
		font-size:18px;
		margin:0px;
		cursor:pointer;
		font-weight:lighter;
	}

	h2{
		font-family:"Source Serif Pro";
		font-size:18px;
		margin:0px;
		font-weight:lighter;
	}

	#aboutContent{
		width:80vw;
		margin:0px;
		font-family:"Source Serif Pro";
		font-size:16px;
		font-weight:lighter;
	
	}

	#aboutContact{
		width:80vw;
		margin-top:20px;
		font-family:"Source Serif Pro";
		font-size:16px;
		font-weight:lighter;
		
	}

	#sidebar{
		margin-left:10px;
		
	}

	#navStick{
		position:absolute;
		margin-top:70px;
		z-index:3;
	}

	#navTop{
		position:fixed;
		margin-top:10px;
		z-index:4;
	}

	#aboutText{
		width:80vw;	
		height:auto;	
		position:relative;
		top:70px !important;
		left:10px !important;
		background-color:#f7f75d;
		padding:20px;
		z-index:5;
		margin-bottom:10px;
	}


	.projectContent{
		width:100vw;
		z-index:0;
		padding-top:10px;
		padding-bottom:20px;
	}

	.ruimteTopMobiel{
		padding-top:220px;
	}


	#project1{
		background-color:#e1adff;

	}

	#project2{
		background-color:#7fcbef;	

	}

	#project3{
		background-color:#ff504a;	
	}

	#project4{
		background-color:#98f1a1;	
	}

	#project5{
		background-color:#ffaec2;	
	}

	#project6{
		background-color:#ef7d42;	
	}

	.afbeeldingContainer{
		width:90vw;
		border-color:red;
		margin-top:20px;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:20px;	

	}

	.afbeelding{
		width:90vw;
		margin-bottom:20px;

	}

	.afbeeldingStaandDrie{
		width:90vw;
		float:left;
		margin-right:20px;
		margin-bottom:20px;
	}

	.afbeeldingStaandDrieLaatste{
		width:90vw;
		float:left;
		margin-bottom:20px;
	}

	.titelProject{
		display:inline-block;
		margin-left:10px;
		padding-left:165px;
		margin-bottom:20px;
		width:150px;
		position:fixed;
	}

	.titel{
		display:inline-block;
		padding-left:155px;
		margin-bottom:20px;
		width:180px;
	}

	.previewProject{
		display:none!important;
		position:fixed;
		z-index:2;

	}

	.projectText{
		bottom:10px;
		position:relative;
		width:90vw;
		left:10px;
	}

	.meerRuimte{
		margin-top:50px;
		margin-bottom:50px;
	}

	.hover{
		position:relative;
		transition:0.2s;
		opacity:1;
	}

	.hover1{
		margin-top:5px;
		position:absolute;
	}

	.hover2{
		position:relative;
	}


	.hover:hover .hover2{
		transition:0.2s;
		opacity:0;
	}


}

@media (min-width:700px){

	body{
		margin:0px;
		transition: background-color 1s cubic-bezier(1, 1, 1, 1);
		transition-delay: 0s;
		background-color: #ef7d42;
		overflow-x: hidden;

	}

	h1{
		font-family:"Source Serif Pro";
		font-size:18px;
		margin:0px;
		cursor:pointer;
		font-weight:lighter;
	}

	h2{
		font-family:"Source Serif Pro";
		font-size:18px;
		margin:0px;
		font-weight:lighter;
	}

	#aboutContent{
		margin:0px;
		width:380px;
		font-family:"Source Serif Pro";
		font-size:18px;
		float:left;
		font-weight:lighter;
	}

	#aboutContact{
		margin-left:20px;
		margin-top:0px;
		font-family:"Source Serif Pro";
		font-size:18px;
		float:left;
		width:280px;
		padding-right:10px;
		font-weight:lighter;
	}

	#navigation{
		margin-top:50px;

		
	}

	#sidebar{
		margin-top:10px;
		margin-left:10px;
		position:fixed;
		z-index: 1;

	}

	#aboutText{
		width:700px;
		height:500px;
		position:fixed;
		background-color:#f7f75d;
		padding-top:20px;
		padding-left:20px;
		margin-top:100px;
		margin-left:120px;
		display:inline-block;
		z-index:2;
		
	}


	.projectContent{
		width:100vw;
		z-index:0;
		padding-top:10px;
		padding-bottom:20px;
	}

	#project1{
		background-color:#e1adff;

	}

	#project2{
		background-color:#7fcbef;	

	}

	#project3{
		background-color:#ff504a;	
	}

	#project4{
		background-color:#98f1a1;	
	}

	#project5{
		background-color:#ffaec2;	
	}

	#project6{
		background-color:#ef7d42;	
	}

	.afbeeldingContainer{
		width:650px;
		border-color:red;
		margin-top:20px;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:20px;	

	}

	.afbeelding{
		width:650px;
		margin-bottom:20px;

	}

	.afbeeldingStaand{
		width:203px;
		float:left;
		margin-right:20px;
		margin-bottom:20px;
	}

	.afbeeldingStaandLaatste{
		width:203px;
		float:left;
		margin-bottom:20px;
	}

	.afbeeldingStaandDrie{
		width:203px;
		float:left;
		margin-right:20px;
		margin-bottom:20px;
	}

	.afbeeldingStaandDrieLaatste{
		width:203px;
		float:left;
		margin-bottom:20px;
	}

	.titel{
		display:block;
		padding-left:155px;
		margin-bottom:20px;
	}

	.titelProject{
		display:inline-block;
		padding-left:155px;
		margin-bottom:20px;
		width:180px;
		position:fixed;
		margin-left:10px;
	}

	.previewProject{
		position:fixed;
		z-index:3;

	}

	.projectText{
		bottom:10px;
		width:350px;
		left:10px;
	}

	.meerRuimte{
		margin-top:100px;
		margin-bottom:100px;
	}

	.hover{
		position:relative;
		transition:0.2s;
		opacity:1;
	}

	.hover1{
		margin-top:5px;
		position:absolute;
	}

	.hover2{
		position:relative;
	}


	.hover:hover .hover2{
		transition:0.2s;
		opacity:0;
	}


	#nextKnop:hover{
		cursor:pointer;
	}

}

@media (min-width:1200px){

	body{
		margin:0px;
		transition: background-color 1s cubic-bezier(1, 1, 1, 1);
		transition-delay: 0s;
		background-color: #ef7d42;
		overflow-x: hidden;

	}

	h1{
		font-family:"Source Serif Pro";
		font-size:16px;
		margin:0px;
		cursor:pointer;
		font-weight:lighter;
	}

	h2{
		font-family:"Source Serif Pro";
		font-size:16px;
		margin:0px;
		font-weight:lighter;
	}

	#aboutContent{
		margin:0px;
		width:380px;
		font-family:"Source Serif Pro";
		font-size:14px;
		float:left;
		font-weight:lighter;
	}

	#aboutContact{
		margin-left:20px;
		margin-top:0px;
		font-family:"Source Serif Pro";
		font-size:12px;
		float:left;
		width:280px;
		padding-right:10px;
		font-weight:lighter;
	}

	#navigation{
		margin-top:50px;

		
	}

	#sidebar{
		margin-top:10px;
		margin-left:10px;
		position:fixed;
		z-index: 1;

	}

	#aboutText{
		width:700px;
		height:500px;
		position:fixed;
		background-color:#f7f75d;
		padding-top:20px;
		padding-left:20px;
		margin-top:100px;
		margin-left:120px;
		display:inline-block;
		z-index:2;

	}


	.projectContent{
		width:100vw;
		z-index:0;
		padding-top:10px;
		padding-bottom:20px;
	}

	#nextKnop{
		position:fixed;
		right:10px;
		top:10px;
	}

	#project1{
		background-color:#e1adff;

	}

	#project2{
		background-color:#7fcbef;	

	}

	#project3{
		background-color:#ff504a;	
	}

	#project4{
		background-color:#98f1a1;	
	}

	#project5{
		background-color:#ffaec2;	
	}

	#project6{
		background-color:#ef7d42;	
	}

	.afbeeldingContainer{
		width:1200px;
		border-color:red;
		margin-top:20px;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:20px;	

	}

	.afbeelding{
		width:1200px;
		margin-bottom:20px;

	}

	.afbeeldingStaand{
		width:590px;
		float:left;
		margin-right:20px;
		margin-bottom:20px;
	}

	.afbeeldingStaandLaatste{
		width:590px;
		display:inline-block;
		margin-bottom:20px;
	}

	.afbeeldingStaandDrie{
		width:386px;
		float:left;
		margin-right:20px;
		margin-bottom:20px;
	}

	.afbeeldingStaandDrieLaatste{
		width:386px;
		float:left;
		margin-bottom:20px;
	}

	.titel{
		display:block;
		right:10px;
		margin-bottom:20px;
	}

	.titelProject{
		display:inline-block;
		padding-left:155px;
		margin-bottom:20px;
		width:180px;
		position:fixed;
		margin-left:10px;
	}

	.previewProject{
		position:fixed;
		z-index:3;

	}

	.projectText{
		bottom:10px;
		position:fixed;
		width:350px;
		left:10px;
	}

	.meerRuimte{
		margin-top:100px;
		margin-bottom:100px;
	}

	.hover{
		position:relative;
		transition:0.2s;
		opacity:1;
	}

	.hover1{
		margin-top:5px;
		position:absolute;
	}

	.hover2{
		position:relative;
	}


	.hover:hover .hover2{
		transition:0.2s;
		opacity:0;
	}


	#nextKnop:hover{
		cursor:pointer;
	}

}
